<div class="col-md-6 offset-md-3"></div>
<h3>Update Task</h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label> Description</label>
        <input type="text" class ="form-control" id = "description"
            [(ngModel)] = "task.description" name = "description">
    </div>

    <div class="form-group">
        <label> Completion </label>
        <input type="text" class ="form-control" id = "completion"
            [(ngModel)] = "task.completion" name = "completion">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
</form>